#wrapper{
	background-color:#041e42;
	border-color:#041e42;
}

header h1{
	text-align:center;
	font-size:50px;
	padding:0px;
	color:white;
	margin: 0;
	padding: 1% 1%;
}
header img{
	right:0;
	left:0;
	z-index:1030;
	width: 60%;
}
body{
	background-color: #e4e4e4;
	font-family: Arial, sans-serif;
}
nav{
	overflow:hidden;
	font-size:1.2em;
	background-color:#DDD;
	text-align:center;
	min-height:50px;
	margin-bottom:20px;
	border: 1px solid transparent;
}
nav a{
	display: inline-block;
	font-size:20px;
	padding: 14px 16px;
	color:#041e42;
	text-align: center;
	border: hidden;
	border-radius:1px;
	text-decoration: none;
	margin-left:50px;
	margin-right:50px;
}
nav a:hover{
	background-color:#a99260;
}
main{

}
main h1{
	text-align:center;
}

#specials img {
	width: 500px;
	height: 300px;
}

#specials form{
	background-color:#041e42;
}

#pizza-table th, #pizza-table td {
    border: 1px solid black;
    padding: 5px;
	}
#pizza-table table {
	margin: auto;
    border-spacing: 10px;
	width: 65%;
}
#pizza-table button {
	width: 148px;
}
#contact{
	text-align:center;
}
#index-body-text{
	text-align: center;
}
footer{
	font-family:Times New Roman, serif;
	font-size:.85em;
	/*background-color:#041e42;*/
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
}
.clear{
	clear:left;
}
#log-col{
	max-width: 500px;
	padding: 30px;
	margin: 0 auto;
	text-align:center;
}

#login{
	position: relative;
	height: auto;
	padding: 20px;
	font-size: 16px;
}

#user{
	padding-bottom:5px;
	margin-bottom:2px;
}

#pass{
	padding-bottom:5px;
	margin-bottom:2px;
}

#pizza-table img {
	height: 100px;
	padding-left: 15%;
}

#pizza-table td {
	width: 15%;
}

#tile-form {
	float: left;
}

#tile-img {
	float: left;
}

.tile-class:after {
  content: "";
  display: table;
  clear: both;
}

#pizza-text {
	text-align: center;
}

button {
	background-color:#a99260;
}

#custom-pizza-selector {
	text-align: center;
}

#custom-pizza-button {
	text-align: center;
}

#custom-table tbody {
	vertical-align: top;
	text-align: center;
}

#cart-table {
	margin: auto;
	border-collapse: collapse;
}

#cart-table table, #cart-table td, #cart-table th {
    border: 1px solid black;
}